<%= turbo_stream_from @room %>

<%= turbo_frame_tag "room" do %>
  <h1>
    <%= @room.name %>
  </h1>
<% end %>

<div id="messages">
  <%= render @room.messages %>
</div>

<%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
